
#itemImage {
	height: 200px;
    width: 150px;
}

#lessonName {
	text-align: center;
	font-weight: bold;
}

.button {
    background-color:mediumslateblue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.display {
	padding-bottom: 20px;
	background-color:white;
}

table {
    margin-left: 2%;
	padding-right: 50px;
	padding-bottom: 25px;
	border-spacing: 0px;
}

#lessonPrice {
	text-align: right;
}

.displayCategory ul li {
	font-size: 20px;
}

table {
    border-spacing: 20px;
    }