<!DOCTYPE HTML>
<html>
<head>
<title>Geçmiş Seçimleriniz</title>

<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/anasayfa">
	<img id="logo" src= {{ url_for('static', filename='images/sitelogo.png') }} />
	</a>

	{% if not girildiMi %}
		<div id="signInButton">
			<a class="link" href="/">Giriş Yap</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hoşgeldin, <br>{{adi}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Geçmiş Seçimler</a>
			<a href="/account/profile">Profil</a>
			<a href="/AdminPanel" class="w3-bar-item w3-button" style="{{adminpanel}}" >Admin Panel</a>
			<hr>
			<a href="/logout">Çıkış</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		derssecimi ( {{derssecimiSayac}} )
		</a>
	</div>
</div>
<div id="cartItems">
	<h2>{{adi}}'in Geçmiş Seçimleri</h2>
	<div id="tableItems">
		{% for row in dersler %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				Dersi Seçtiğiniz Tarih: {{row[4]}}<br>
			</div>
			<div id="itemPrice">
				{{row[2]}} saat
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Toplam Ders Saati</span> : {{toplamderssaati}} saat
		</div>
	</div>
</div>
<a href="/removeFromOrders" class="button button2">Ders Seçim Geçmişini Sil!</a>
<a href="/anasayfa" class="button button2">Anasayfa</a>
</body>
</html>
